<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search it Up!!!</title>
</head>
<body>
    <form action="" method="get">
        <label for="searchbar">Search: </label>
            <input type="text" name="keyword" id="searchbar" value="{{ keyword }}"/>
        <input type="submit" value="Search" />
        <br>
    </form>
    {% if nums %}
        <h1>{{ nums }}</h1>
        {% if dym %}
            <h3>Did you mean ? {{ dym }}</h3>
        {% endif %}
        <ul>
            {% for url in urls %}
                <li><a href="{{ url.0 }}">{{ url.1 }}</a>
                    <br>
                    <span><i>{{ url.0 }}</i></span>
                    <p>{{ url.2 }}</p>
                    <p>{{ url.3 }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>