<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search it Up!!!</title>
</head>
<body>
    <form action="" method="get">
        <label for="searchbar">Search: </label>
        <input type="text" name="keyword" id="searchbar" />
        <input type="submit" value="Search" />
        <br>
    </form>
    <h1>{{ nums }}</h1>
    {{ urls }}
    <ul>
        {% for url in urls %}
            <li><a href="{{ url }}">{{ url }}</a></li>
        {% endfor %}
    </ul>

</body>
</html>